@page "/todos"

@using DataAccess.Models;
@using Services;

@inject IToDoService _todoService
@inject NavigationManager _navigationManager

<h3>Todo's</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">DateCreated</th>
      <th scope="col">DateUpdated</th>
    </tr>
  </thead>
  <tbody>
    @if (!Todos.Any())
    {
        <tr>
            <th scope="row" colspan="5">No todos's are currently available</th>
            </tr>
        } 

        else
        {
            foreach (var todo in Todos)
            {
                 <tr @onclick="() => RedirectTo(todo.Id)" class="cursor-pointer">
                    <th scope="row">@todo.Id</th>
                    <td>@todo.Title</td>
                    <td>@todo.Description</td>
                    <td>@todo.DateCreated</td>
                    <td>@todo.DateUpdated</td>
                </tr>
            }
        }
  </tbody>
</table>

@code {
    List<ToDo> Todos = new List<ToDo>();

    protected override async Task OnInitializedAsync()
    {
        Todos = _todoService.ListAll();
    }

    private void RedirectTo(int todoId)
    {
        _navigationManager.NavigateTo($"/todo/details/{todoId}");
    }
}